<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="">
    <title>Exam 2</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Link 2</a></li>
            </ul>
        </nav>
    </header>
    <main>
            {{{body}}}
    </main>
    <footer>
        <p>
            WEB 322 Exam 2
        </p>
    </footer>
</body>
</html>