<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body>
        <header>
            <h1>{{headingInfo}}</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact-us">Contact Us</a></li>
                 <li><a href="/products">Products</a></li>
            </ul>
        </nav>
        <main>
            {{{body}}}
        </main>
        <footer>
            My Footer
        </footer>     
</body>
</html>