<form method="POST" action ="/">
    <label for="firstName">First Name</label>    
    <input type="text" id="firstName" name="firstName"> <br>

    <label for="lastName">Last Name</label>    
    <input type="text" id="lastName" name="lastName"> <br>

    <label for="phoneNo">Phone Number</label>    
    <input type="text" id="phoneNo" name="phoneNo"> <br> 

    <label for="message">Message</label>    
    <textarea id="message" name="message"></textarea> <br>

    <input type="submit" value="Contact Us">
</form>