<section>
    {{#each products}}
        <div>
            <p>
                Title : {{this.title}}
            </p>
            <p>
                Price: {{this.price}}
            </p>
            <p>
                Description: {{this.description}}
            </p>
        </div>
    {{/each}}
</section>